.header {
  /*
  Vars
  */ }
  .header .header {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff; }
    .header .header .logo-panel {
      text-align: center;
      position: relative;
      height: 150px;
      width: 100%; }
    .header .header .logo {
      background: url("../../assets/morning-teleportation.jpg");
      background-size: 100%;
      background-position-y: 50%;
      background-repeat: no-repeat;
      display: inline-block;
      max-height: 170px;
      max-width: 1200px;
      height: 100%;
      width: 100%;
      text-align: center;
      vertical-align: middle; }
    .header .header .topnav {
      display: flex;
      position: relative;
      text-align: center;
      align-items: flex-end;
      background-color: #ffffff;
      justify-content: center;
      height: 50px; }
      .header .header .topnav .linkWrapper {
        bottom: 0px;
        left: 0px;
        padding: 0px 30px; }
      .header .header .topnav a {
        font-size: 20px;
        color: #010000;
        vertical-align: text-bottom;
        text-decoration: none;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out; }
        .header .header .topnav a:hover {
          color: #4cc9e7;
          -webkit-transition: 0.4s ease-in-out;
          -moz-transition: 0.4s ease-in-out;
          transition: 0.4s ease-in-out; }
    .header .header .active {
      background-color: #4CAF50;
      color: #ffffff; }

.homepage {
  /*
  Vars
  */ }
  .homepage .homepage {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    height: 1200px; }
    .homepage .homepage .parallax {
      background-image: url("../../assets/mt_sfs_large.jpg");
      height: 200px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .homepage .homepage .parallax2 {
      background-image: url("../../assets/mt_ea_large.jpg");
      height: 200px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .homepage .homepage .videoContainer {
      background-color: #4cc9e7;
      padding-bottom: 10px; }
      .homepage .homepage .videoContainer span {
        display: flex;
        padding: 10px 10px;
        vertical-align: middle; }
      .homepage .homepage .videoContainer .iframeContainer {
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
        overflow: hidden;
        background-color: #4cc9e7; }
        .homepage .homepage .videoContainer .iframeContainer iframe {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%; }
    .homepage .homepage .bio {
      background-color: #f28230;
      padding: 30px 40px; }
      .homepage .homepage .bio img {
        padding: 10px 0px;
        width: 100%; }
    .homepage .homepage .newAlbumOut {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      background-color: #d12e4b;
      padding: 30px 40px; }

.music {
  /*
  Vars
  */ }
  .music .music {
    display: flex;
    justify-content: center; }
    .music .music .album {
      padding: 10px 30px; }
      .music .music .album img {
        height: 300px;
        width: 300px; }

/*# sourceMappingURL=index.css.map */
