@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.checkout {
    $font: "Open Sans";
    $priceFont: "Gloria Hallelujah", cursive;
    padding: 100px 20px;
    font-family: $font;

    .paymentInfo {
        form {
            display: flex;
            flex-direction: column;
            div {
                display: flex;
                padding: 10px 0px;

                label {
                    width: 110px;
                }

                input {
                    align-self: center;
                    height: 15px;
                    width: 100%;
                }
            }
        }

        button {
            display: flex;
            font-family: $font;
            margin: 10px 10px;
            width: 100%;
            justify-content: center;
            align-items: center;

            div {
                padding: 0px 2px;

                &.price {
                    font-family: $priceFont;
                }
            }
        }
    }

    .items {
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;

            .price, .total {
                font-family: $priceFont;
            }

            img {
                height: 100px;
                width: 100px;
            }
        }
    }
}