/*
Vars
*/

$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$hotPink: #d12e4b;
$red: #ff1755;
$limeGreen: #00dd30;
$green: #11a030;
$yellow: #eeeb40;
$blue: #4cc9e7;
$peach: #f28230;