@import 'Colors.scss';

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
};

.header {
    font-family: 'Open Sans', sans-serif;
    height: 150px;
    background-color: $green;

    .logo-panel {
        text-align: center;
        position: relative;
        line-height: 100px;
    }

    .logo {
        display: inline-block;
        height: 100px;
        text-align: center;
        vertical-align: middle;
    }

    .topnav {
        text-align: center;

        a {
            text-decoration: none;
            padding: 0px 20px;
            @include transition(.4s ease-in-out);

            &:hover {
                color: $red;
                @include transition(.4s ease-in-out);
            }
        }
    }

    .active {
        background-color: #4CAF50;
        color: $white;
    }
}