@import 'Colors.scss';
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.item {
    padding: 30px 30px;

    .cardContainer {
        display: flex;
        flex-direction: column;
        // margin: 50px 10px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);  
        }

        img {
            height: 300px;
            width: 300px;
        }

        .titleRow {
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;

            .title {
                font-family: 'Open Sans';
            }

            .price {
                font-family: 'Gloria Hallelujah', cursive;
            }
        }

    }
}