@import 'Colors.scss';

.item {
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;

    .card {
        text-align: center;
        padding-top: 50px;

        .imageContainer {
            width: 300px;
            height: 300px;

            img {
                width: 100%;

            }
        }

        .addToCart {
            display: flex;
            justify-content: space-between;

            input {
                max-width: 50px;
            }
        }

    }
}