@import 'Colors.scss';

.music {
    display: flex;
    justify-content: center;

    .album {
        padding: 10px 30px;

        img {
            height: 300px;
            width: 300px;
        }
    }
}