
.shoppingCart {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 100px;

    .container {
        position: relative;
        height: 100px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
}