
.shoppingCart {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .container {
        display: flex;
        // position: absolute;
        // height: 40px;
        // width: 100px;

        .cartIcon {
            background: url('../../assets/cart.png');
            background-size: 100%;
            height: 70px;
            width: 70px;
        }

        .itemCount {
            align-self: center;
        }
    }
}